<% if @locale == :ja || @locale == "ja" %>
    <% content_for(:title, @member.name) %>
<% else %>
    <% content_for(:title, @member.name_en) %>
<% end %>
<%= render 'shared/header' %>
<div class="main">
    <div id="main-left" class="main-left">
        <%= render 'shared/sidemenu' %>
    </div>
    <div id="main-right" class="main-right">
        <div id="section-emphasis" class="section emphasis">
            <div class="emphasis-left">
                <img
                    src="<% if @member.thumbnails %><%= @member.thumbnails %><% else %>/assets/human.svg<% end %>"
                    class="emphasis-thumbnails"
                    alt="<% if @locale == 'en' %><%= @member.name_en %><% else %><%= @member.name %><% end %>"
                    youtubeid="<%= @member.youtube_id %>" />
            </div>
            <div class="emphasis-right">
                <% if @locale != 'en' %>
                    <div class="emphasis-kana"><%= @member.name_kana %></div>
                <% end %>
                <div class="emphasis-name">
                    <% if @locale == 'en' %>
                        <%= @member.name_en %>
                    <% else %>
                        <%= @member.name %>
                    <% end %>
                </div>
            </div>
        </div>
        <div id="section-profile" class="section profile">
            <table>
                <tbody>
                    <tr>
                        <td><%= t('member.profile.table.channel') %></td>
                        <td><%= @member.channel_name %></td>
                    </tr>
                    <tr>
                        <td><%= t('member.profile.table.subscriber') %></td>
                        <td><%= number_with_delimiter(@member.subscriber) %></td>
                    </tr>
                    <tr>
                        <td><%= t('member.profile.table.belong') %></td>
                        <td>
                            <% if @locale == 'en' %>
                                <%= @member.belong_en %>
                            <% else %>
                                <%= @member.belong %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td><%= t('member.profile.table.debut') %></td>
                        <td id="debut_date"><%= @member.debut %></td>
                    </tr>
                    <% if @member.graduation %>
                    <tr>
                        <td><%= t('member.profile.table.graduation') %></td>
                        <td><%= @member.graduation %></td>
                    </tr>
                    <% end %>
                    <tr>
                        <td><%= t('member.profile.table.birthday') %></td>
                        <td><%= @member.birthday %></td>
                    </tr>
                    <tr>
                        <td><%= t('member.profile.table.video_count') %></td>
                        <td><%= number_with_delimiter(@member.video_count) %><%= t('member.profile.table.video_count_unit') %></td>
                    </tr>
                    <tr>
                        <td><%= t('member.profile.table.video_viewcount') %></td>
                        <td><%= number_with_delimiter(@member.video_viewcount) %><%= t('member.profile.table.video_viewcount_unit') %></td>
                    </tr>
                </tbody>
            </table>
        </div>  
        <div id="section-data" class="section">
            <div class="section-header bg-blue">
                <div class="section-header-title"><%= t('member.data.header.title') %></div>
            </div>
            <div class="section-body">
                <div class="section-content">
                    <div class="section-content-title"><%= t('member.data.body.subscriber.title') %></div>
                    <div class="section-content-subtitle">- <%= t('member.data.body.subscriber.subtitle.all') %> -</div>
                    <div class="data-graph-wrapper">
                        <div id="subscriber-all" class="data-graph"></div>
                        <div class="loading-wrapper">
                            <div id ="subscriber-all-loading" class="loading"></div>
                        </div>
                    </div>
                    <div class="section-content-subtitle">- <%= t('member.data.body.subscriber.subtitle.24hours') %> -</div>
                    <div class="data-graph-wrapper">
                        <div id="subscriber-24hours" class="data-graph"></div>
                        <div class="loading-wrapper">
                            <div id ="subscriber-24hours-loading" class="loading"></div>
                        </div>
                    </div>
                    <div class="section-content-subtitle">- <%= t('member.data.body.subscriber.subtitle.14days') %> -</div>
                    <div class="data-graph-wrapper">
                        <div id="subscriber-14days" class="data-graph"></div>
                        <div class="loading-wrapper">
                            <div id ="subscriber-14days-loading" class="loading"></div>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-content-title"><%= t('member.data.body.viewcount.title') %></div>
                    <div class="data-graph-wrapper">
                        <div id="viewcount" class="data-graph"></div>
                        <div class="loading-wrapper">
                            <div id ="viewcount-loading" class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section-round" class="section">
            <div class="section-header bg-blue">
                <div class="section-header-title"><%= t('member.history.header.title') %></div>
            </div>
            <div class="section-body">
                <div class="section-content round-table">
                    <div class="table-wrapper">
                        <table id="round-table" class="table round">
                            <thead>
                                <tr>
                                    <th><%= t('member.history.body.table.datetime') %></th>
                                    <th><%= t('member.history.body.table.subscriber') %></th>
                                    <th><%= t('member.history.body.table.diff') %></th>
                                </tr>
                            </thead>
                        </table>
                        <div class="loading-wrapper">
                            <div id ="round-table-loading" class="loading"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag "member.js" %>