<% content_for(:title, t('top.title')) %>
<%= render 'shared/header' %>
<div class="main">
    <div id="main-left" class="main-left">
        <%= render 'shared/sidemenu' %>
    </div>
    <div id="main-right" class="main-right">
        <div id="section-chart" class="section">
            <div class="chart">
                <div class="chart-title"><%= t('top.chart.title') %></div>
                <div class="chart-body">
                    <div id="chart"></div>
                    <div class="loading-wrapper">
                        <div id ="chart-loading" class="loading"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section-data" class="section">
            <div class="section-header bg-blue pointer">
                <div class="section-header-title"><%= t('top.data.title') %></div>
                <div id="section-header-subtitle" class="section-subtitle"><%= @latests[0].updated_at.strftime("%Y-%m-%d %H:%M") %> JST</div>
            </div>
            <div id="latest" class="section-body">
                <div class="table-wrapper">
                    <table id="latest-data-table" class="table">
                        <thead>
                            <tr class="pointer">
                                <th class="sort" data-sort="name"><%= t('top.data.table.name') %></th>
                                <th class="sort wide" data-sort="belong"><%= t('top.data.table.belong') %></th>
                                <th class="sort" data-sort="subscriber"><%= t('top.data.table.subscriber') %></th>
                                <th class="sort wide" data-sort="diff"><%= t('top.data.table.diff') %></th>
                                <th class="sort wide" data-sort="round"><%= t('top.data.table.round') %></th>
                            </tr>
                        </thead>
                        <tbody class="list table-body">
                            <% @latests.each do |data| %>
                                <tr class="pointer" path="<%= data.member.name_url %>">
                                    <td class="table-body-name-area" <% if @locale != 'en' %> title="<%= data.member.name_kana %><% end %>">
                                        <span class="name hidden">
                                            <% if @locale == 'en' %>
                                                <%= data.member.name_en %>
                                            <% else %>
                                                <%= data.member.name_kana %>
                                            <% end %>
                                        </span>
                                        <div class="table-body-name-area-flex">
                                            <img
                                                src="<% if data.member.thumbnails %><%= data.member.thumbnails %><% else %>/assets/human.svg<% end %>"
                                                class="table-thumbnails"
                                                alt="<% if @locale == 'en' %><%= data.member.name_en %><% else %><%= data.member.name %><% end %>"
                                                youtubeid="<%= data.member.youtube_id %>" />
                                            <% if @locale == 'en' %>
                                                <%= data.member.name_en %>
                                            <% else %>
                                                <%= data.member.name %>
                                            <% end %>
                                            <% if data.member.graduation %>
                                                <img
                                                    src="/assets/graduation.svg"
                                                    class="table-graduation-icon"
                                                    alt="graduation"
                                                    title="<%= t('top.data.table.graduation') %>" />
                                            <% end %>
                                        </div>
                                    </td>
                                    <td class="belong wide">
                                        <% if @locale == 'en' %>
                                            <%= data.member.belong_en %>
                                        <% else %>
                                            <%= data.member.belong %>
                                        <% end %>
                                    </td>
                                    <td>
                                        <span class="subscriber hidden"><%= data.subscriber %></span>
                                        <%= number_with_delimiter(data.subscriber) %>
                                    </td>
                                    <td class="wide">
                                        <span class="diff hidden"><%= data.diff %></span>
                                        <% if data.diff > 0 %>+<% elsif data.diff == 0 %>±<% else %>-<% end %><%= number_with_delimiter(data.diff) %>
                                    </td>
                                    <td class="wide">
                                        <span class="round hidden"><%= data.round_datetime %></span>
                                        <% if data.round_subscriber == 0 %>
                                            -
                                        <% else %>
                                            <%= data.round_datetime.strftime("%Y-%m-%d %H:%M") %> (<% if @locale == "en" %><%= data.round_subscriber.to_f/1000000 %><% else %><%= number_with_delimiter(data.round_subscriber/10000) %><% end %><%= t('top.data.table.subscriber_unit') %>)
                                        <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_include_tag "holochart.js" %>