<% content_for(:title, t('million.title')) %>
<%= render 'shared/header' %>
<div class="main">
    <div id="main-left" class="main-left">
        <%= render 'shared/sidemenu' %>
    </div>
    <div id="main-right" class="main-right">
        <div id="section-description" class="section">
            <div class="section-header">
                <div class="section-header-title"><%= t('million.header.title') %></div>
            </div>
            <div class="section-body">
                <div class="section-content">
                    <div class="table-wrapper">
                        <table id="million-table" class="table">
                            <thead>
                                <tr class="pointer">
                                    <th class="sort" data-sort="name"><%= t('million.body.table.header.name') %></th>
                                    <th class="sort" data-sort="subscriber"><%= t('million.body.table.header.subscriber') %></th>
                                    <th class="sort" data-sort="million"><%= t('million.body.table.header.million') %></th>
                                    <th class="sort" data-sort="forecast"><%= t('million.body.table.header.forecast') %></th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                <% @members.zip(@forecasts).each do |member, forecast| %>
                                    <tr>
                                        <td class="name"><% if @locale == 'en' %><%= member.name_en %><% else %><%= member.name %><% end %></td>
                                        <td>
                                            <span class="subscriber hidden"><%= forecast['subscriber'] %></span>
                                            <%= number_with_delimiter(forecast['subscriber']) %>
                                        </td>
                                        <td>
                                            <span class="million hidden"><%= forecast['forecast_subscriber'] %></span>
                                            <% if forecast['result'] == 'unforeseeable' %>
                                                <%= t('million.body.table.forecasts.unforeseeable') %>
                                            <% elsif forecast['result'] == 'shortage' %>
                                                <%= t('million.body.table.forecasts.shortage') %>
                                            <% else %>
                                                <%= number_with_delimiter(forecast['forecast_subscriber']) %>
                                            <% end %>
                                            <% if forecast['result'] == 'success' %>
                                                <%= image_tag "forecasts_success.svg", class: "icon-forecasts", title: t('million.body.table.forecasts.success') %>
                                            <% elsif forecast['result'] == 'unreachable' %>
                                                <%= image_tag "forecasts_unreachable.svg", class: "icon-forecasts", title: t('million.body.table.forecasts.unreachable') %>
                                            <% elsif forecast['result'] == 'unforeseeable' %>
                                                <%= image_tag "forecasts_unforeseeable.svg", class: "icon-forecasts", title: t('million.body.table.forecasts.unforeseeable') %>
                                            <% elsif forecast['result'] == 'shortage' %>
                                                <%= image_tag "forecasts_shortage.svg", class: "icon-forecasts", title: t('million.body.table.forecasts.shortage') %>
                                            <% end %>
                                        </td>
                                        <td class="forecast"><%= forecast['date'] %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="section-description" class="section">
            <div class="section-header bg-blue">
                <div class="section-header-title"><%= t('million.body.description.title') %></div>
            </div>
            <div class="section-body description">
                <div class="section-content">
                    <div class="section-content-body">
                        <b><%= t('million.body.description.body.text1') %></b>
                        <p><%= t('million.body.description.body.text2') %></p>
                        <p><%= t('million.body.description.body.text3') %></p>
                        <b><%= t('million.body.description.body.text4') %></b>
                        <p><%= t('million.body.description.body.text5') %></p>
                        <b><%= t('million.body.description.body.text6') %></b>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="description-key <% if @locale == "en"%>keywide<% end %>">
                                        <%= image_tag "forecasts_success.svg", class: "icon-forecasts" %>
                                        <%= t('million.body.description.body.text7') %>
                                    </td>
                                    <td>
                                        <%= t('million.body.description.body.text8') %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description-key <% if @locale == "en"%>keywide<% end %>">
                                        <%= image_tag "forecasts_unreachable.svg", class: "icon-forecasts" %>
                                        <%= t('million.body.description.body.text9') %>
                                    </td>
                                    <td>
                                        <%= t('million.body.description.body.text10') %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description-key <% if @locale == "en"%>keywide<% end %>">
                                        <%= image_tag "forecasts_unforeseeable.svg", class: "icon-forecasts" %>
                                        <%= t('million.body.description.body.text11') %>
                                    </td>
                                    <td>
                                        <%= t('million.body.description.body.text12') %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description-key <% if @locale == "en"%>keywide<% end %>">
                                        <%= image_tag "forecasts_shortage.svg", class: "icon-forecasts" %>
                                        <%= t('million.body.description.body.text13') %>
                                    </td>
                                    <td>
                                        <%= t('million.body.description.body.text14') %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <b><%= t('million.body.description.body.text15') %></b>
                        <p><%= t('million.body.description.body.text16') %></p>
                        <p><%= t('million.body.description.body.text17') %></p>
                        <p><%= t('million.body.description.body.text18') %></p>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'shared/footer' %>
    </div>
</div>
<%= javascript_include_tag "million.js" %>