<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= page_title(yield(:title), @locale) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="ホロライブメンバーのチャンネル登録者数を確認することができます。">
    <meta name="twitter:title" content="ホロライブのチャンネル登録者数一覧 - ホロとらっかー">
    <meta name="twitter:description" content="ホロライブメンバーのチャンネル登録者数を確認することができます。">
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="alternate" hreflang="ja" href="https://trackholo.live/">
    <link rel="alternate" hreflang="en" href="https://trackholo.live/en/">
    <%
=begin%>
    <script data-ad-client="ca-pub-3704681793677761" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
<%
=end%>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100810523-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-100810523-8');
    </script>     
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="page_top">
      <%= image_tag "angle_top.svg", class: "icon-pagetop" %>
    </div>
    <%= yield %>
  </body>
  <% @members.each do |member| %>
    <input
      type="hidden"
      member_id="<%= member.id %>"
      name="<% if @locale == 'en' %><%= member.name_en %><% else %><%= member.name %><% end %>"
      name_kana="<%= member.name_kana %>"
      name_url="<%= member.name_url %>"
      belong="<% if @locale == 'en' %><%= member.belong_en %><% else %><%= member.belong %><% end %>"
      created_at="<%= member.created_at %>"
      debut="<%= member.debut %>"
      class="member_data" />
  <% end %>
</html>
<%= javascript_include_tag "menu.js" %>