<% content_for(:title, t('about.title')) %>
<%= render 'shared/header' %>
<div class="main docs-style">
    <div id="main-left" class="main-left">
        <%= render 'shared/sidemenu' %>
    </div>
    <div id="main-right" class="main-right">
        <div class="section">
            <div class="section-header">
                <div class="section-header-title"><%= t('about.header.title') %></div>
            </div>
            <div class="section-body">
                <div class="section-content">
                    <div class="section-content-subtitle">
                        <%= t('about.body.fan.title') %>
                    </div>
                    <div class="section-content-body">
                        <p><%= t('about.body.fan.text1') %></p>
                        <p><%= t('about.body.fan.text2') %></p>
                        <p><%= t('about.body.fan.text3') %></p>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-content-subtitle">
                        <%= t('about.body.get.title') %>
                    </div>
                    <div class="section-content-body">
                        <p><%= t('about.body.get.text1') %></p>
                        <p><%= t('about.body.get.text2') %></p>
                        <p><%= t('about.body.get.text3') %></p>
                        <p><%= t('about.body.get.text4') %></p>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-content-subtitle">
                        <%= t('about.body.transition.title') %>
                    </div>
                    <div class="section-content-body">
                        <p><%= t('about.body.transition.text1') %></p>
                        <p><%= t('about.body.transition.text2') %></p>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-content-subtitle">
                        <%= t('about.body.data.title') %>
                    </div>
                    <div class="section-content-body">
                        <p><%= t('about.body.data.text1') %></p>
                        <ul>
                            <li><%= t('about.body.data.text2') %></li>
                            <li><%= t('about.body.data.text3') %></li>
                            <li><%= t('about.body.data.text4') %></li>
                            <li><%= t('about.body.data.text5') %></li>
                        </ul>
                        <p><%= t('about.body.data.text6') %></p>
                        <ul>
                            <li><%= t('about.body.data.text7') %></li>
                            <li><%= t('about.body.data.text8') %></li>
                            <li><%= t('about.body.data.text9') %></li>
                            <li><%= t('about.body.data.text10') %></li>
                        </ul>
                        <p><%= t('about.body.data.text11') %></p>
                        <ul>
                            <li><%= t('about.body.data.text12') %></li>
                            <li><%= t('about.body.data.text13') %></li>
                        </ul>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-content-subtitle">
                        <%= t('about.body.stop.title') %>
                    </div>
                    <div class="section-content-body">
                        <p><%= t('about.body.stop.text1') %></p>
                        <ol>
                            <li><%= t('about.body.stop.text2') %></li>
                            <li><%= t('about.body.stop.text3') %></li>
                        </ol>
                        <p><%= t('about.body.stop.text4') %></p>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-content-subtitle">
                        <%= t('about.body.ban.title') %>
                    </div>
                    <div class="section-content-body">
                        <p><%= t('about.body.ban.text1') %></p>
                        <ol>
                            <li><%= t('about.body.ban.text2') %></li>
                            <li><%= t('about.body.ban.text3') %></li>
                            <li><%= t('about.body.ban.text4') %></li>
                            <li><%= t('about.body.ban.text5') %></li>
                            <li><%= t('about.body.ban.text6') %></li>
                            <li><%= t('about.body.ban.text7') %></li>
                            <li><%= t('about.body.ban.text8') %></li>
                            <li><%= t('about.body.ban.text9') %></li>
                            <li><%= t('about.body.ban.text10') %></li>
                        </ol>
                        <p><%= t('about.body.ban.text11') %></p>
                        <b><%= t('about.body.ban.text12') %></b>
                        <ul>
                            <li><%= t('about.body.ban.text13') %></li>
                            <li><%= t('about.body.ban.text14') %></li>
                        </ul>
                        <p><%= t('about.body.ban.text15') %></p>
                    </div>
                </div>
                <div class="section-content">
                    <div class="section-content-subtitle">
                        <%= t('about.body.disclaimer.title') %>
                    </div>
                    <div class="section-content-body">
                        <ol>
                            <li><%= t('about.body.disclaimer.text1') %></li>
                            <li><%= t('about.body.disclaimer.text2') %></li>
                            <li><%= t('about.body.disclaimer.text3') %></li>
                            <li><%= t('about.body.disclaimer.text4') %></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <%= render 'shared/footer' %>
    </div>
</div>